<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>

  <div>
    <%= f.label :title %>
  </div>

  <div class="field">
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
  </div>

  <div class="field">
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Book' %>
  </div>

<% end %>

<%= link_to "Show", book_path(@book.id) %>
|
<%= link_to "Back", books_path %>